<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.JHB.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Client" >
    <id column="clid" property="clid" jdbcType="INTEGER" />
    <result column="cliname" property="cliname" jdbcType="VARCHAR" />
    <result column="clisex" property="clisex" jdbcType="INTEGER" />
    <result column="cliphone" property="cliphone" jdbcType="VARCHAR" />
    <result column="cliaddress" property="cliaddress" jdbcType="VARCHAR" />
    <result column="cliborth" property="cliborth" jdbcType="DATE" />
    <result column="clidcard" property="clidcard" jdbcType="VARCHAR" />
    <result column="growthval" property="growthval" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    clid, cliname, clisex, cliphone, cliaddress, cliborth, clidcard, growthval, rank, 
    discount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client
    where clid = #{clid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client
    where clid = #{clid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Client" >
    insert into client (clid, cliname, clisex, 
      cliphone, cliaddress, cliborth, 
      clidcard, growthval, rank, 
      discount)
    values (#{clid,jdbcType=INTEGER}, #{cliname,jdbcType=VARCHAR}, #{clisex,jdbcType=INTEGER}, 
      #{cliphone,jdbcType=VARCHAR}, #{cliaddress,jdbcType=VARCHAR}, #{cliborth,jdbcType=DATE}, 
      #{clidcard,jdbcType=VARCHAR}, #{growthval,jdbcType=INTEGER}, #{rank,jdbcType=VARCHAR}, 
      #{discount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clid != null" >
        clid,
      </if>
      <if test="cliname != null" >
        cliname,
      </if>
      <if test="clisex != null" >
        clisex,
      </if>
      <if test="cliphone != null" >
        cliphone,
      </if>
      <if test="cliaddress != null" >
        cliaddress,
      </if>
      <if test="cliborth != null" >
        cliborth,
      </if>
      <if test="clidcard != null" >
        clidcard,
      </if>
      <if test="growthval != null" >
        growthval,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="discount != null" >
        discount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clid != null" >
        #{clid,jdbcType=INTEGER},
      </if>
      <if test="cliname != null" >
        #{cliname,jdbcType=VARCHAR},
      </if>
      <if test="clisex != null" >
        #{clisex,jdbcType=INTEGER},
      </if>
      <if test="cliphone != null" >
        #{cliphone,jdbcType=VARCHAR},
      </if>
      <if test="cliaddress != null" >
        #{cliaddress,jdbcType=VARCHAR},
      </if>
      <if test="cliborth != null" >
        #{cliborth,jdbcType=DATE},
      </if>
      <if test="clidcard != null" >
        #{clidcard,jdbcType=VARCHAR},
      </if>
      <if test="growthval != null" >
        #{growthval,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Client" >
    update client
    <set >
      <if test="cliname != null" >
        cliname = #{cliname,jdbcType=VARCHAR},
      </if>
      <if test="clisex != null" >
        clisex = #{clisex,jdbcType=INTEGER},
      </if>
      <if test="cliphone != null" >
        cliphone = #{cliphone,jdbcType=VARCHAR},
      </if>
      <if test="cliaddress != null" >
        cliaddress = #{cliaddress,jdbcType=VARCHAR},
      </if>
      <if test="cliborth != null" >
        cliborth = #{cliborth,jdbcType=DATE},
      </if>
      <if test="clidcard != null" >
        clidcard = #{clidcard,jdbcType=VARCHAR},
      </if>
      <if test="growthval != null" >
        growthval = #{growthval,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
    </set>
    where clid = #{clid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Client" >
    update client
    set cliname = #{cliname,jdbcType=VARCHAR},
      clisex = #{clisex,jdbcType=INTEGER},
      cliphone = #{cliphone,jdbcType=VARCHAR},
      cliaddress = #{cliaddress,jdbcType=VARCHAR},
      cliborth = #{cliborth,jdbcType=DATE},
      clidcard = #{clidcard,jdbcType=VARCHAR},
      growthval = #{growthval,jdbcType=INTEGER},
      rank = #{rank,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DECIMAL}
    where clid = #{clid,jdbcType=INTEGER}
  </update>
</mapper>