<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.JHB.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Project" >
    <id column="proid" property="proid" jdbcType="INTEGER" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="proprice" property="proprice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    proid, proname, proprice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where proid = #{proid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where proid = #{proid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Project" >
    insert into project (proid, proname, proprice
      )
    values (#{proid,jdbcType=INTEGER}, #{proname,jdbcType=VARCHAR}, #{proprice,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        proid,
      </if>
      <if test="proname != null" >
        proname,
      </if>
      <if test="proprice != null" >
        proprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="proid != null" >
        #{proid,jdbcType=INTEGER},
      </if>
      <if test="proname != null" >
        #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null" >
        #{proprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Project" >
    update project
    <set >
      <if test="proname != null" >
        proname = #{proname,jdbcType=VARCHAR},
      </if>
      <if test="proprice != null" >
        proprice = #{proprice,jdbcType=DECIMAL},
      </if>
    </set>
    where proid = #{proid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Project" >
    update project
    set proname = #{proname,jdbcType=VARCHAR},
      proprice = #{proprice,jdbcType=DECIMAL}
    where proid = #{proid,jdbcType=INTEGER}
  </update>
</mapper>