<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.JHB.ReworkMapper">
	<resultMap id="BaseResultMap" type="com.accp.pojo.Rework">
		<id column="rewid" property="rewid" jdbcType="INTEGER" />
		<result column="odd" property="odd" jdbcType="VARCHAR" />
		<result column="rewtype" property="rewtype" jdbcType="VARCHAR" />
		<result column="principal" property="principal" jdbcType="VARCHAR" />
		<result column="fine" property="fine" jdbcType="DECIMAL" />
		<result column="rewcause" property="rewcause" jdbcType="VARCHAR" />
		<result column="rewdate" property="rewdate" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		rewid, odd, rewtype, principal, fine, rewcause, rewdate
	</sql>
	<insert id="insert">
		insert into rework
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rewid != null">
				rewid,
			</if>
			<if test="odd != null">
				odd,
			</if>
			<if test="rewtype != null">
				rewtype,
			</if>
			<if test="principal != null">
				principal,
			</if>
			<if test="fine != null">
				fine,
			</if>
			<if test="rewcause != null">
				rewcause,
			</if>
			<if test="rewdate != null">
				rewdate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rewid != null">
				#{rewid,jdbcType=INTEGER},
			</if>
			<if test="odd != null">
				#{odd,jdbcType=VARCHAR},
			</if>
			<if test="rewtype != null">
				#{rewtype,jdbcType=VARCHAR},
			</if>
			<if test="principal != null">
				#{principal,jdbcType=VARCHAR},
			</if>
			<if test="fine != null">
				#{fine,jdbcType=DECIMAL},
			</if>
			<if test="rewcause != null">
				#{rewcause,jdbcType=VARCHAR},
			</if>
			<if test="rewdate != null">
				#{rewdate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
</mapper>