<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.JHB.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Supplier" >
    <id column="supid" property="supid" jdbcType="INTEGER" />
    <result column="supname" property="supname" jdbcType="VARCHAR" />
    <result column="supbrand" property="supbrand" jdbcType="VARCHAR" />
    <result column="supaddress" property="supaddress" jdbcType="VARCHAR" />
    <result column="supphone" property="supphone" jdbcType="VARCHAR" />
    <result column="supemail" property="supemail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supid, supname, supbrand, supaddress, supphone, supemail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supid = #{supid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where supid = #{supid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Supplier" >
    insert into supplier (supid, supname, supbrand, 
      supaddress, supphone, supemail
      )
    values (#{supid,jdbcType=INTEGER}, #{supname,jdbcType=VARCHAR}, #{supbrand,jdbcType=VARCHAR}, 
      #{supaddress,jdbcType=VARCHAR}, #{supphone,jdbcType=VARCHAR}, #{supemail,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supid != null" >
        supid,
      </if>
      <if test="supname != null" >
        supname,
      </if>
      <if test="supbrand != null" >
        supbrand,
      </if>
      <if test="supaddress != null" >
        supaddress,
      </if>
      <if test="supphone != null" >
        supphone,
      </if>
      <if test="supemail != null" >
        supemail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supid != null" >
        #{supid,jdbcType=INTEGER},
      </if>
      <if test="supname != null" >
        #{supname,jdbcType=VARCHAR},
      </if>
      <if test="supbrand != null" >
        #{supbrand,jdbcType=VARCHAR},
      </if>
      <if test="supaddress != null" >
        #{supaddress,jdbcType=VARCHAR},
      </if>
      <if test="supphone != null" >
        #{supphone,jdbcType=VARCHAR},
      </if>
      <if test="supemail != null" >
        #{supemail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Supplier" >
    update supplier
    <set >
      <if test="supname != null" >
        supname = #{supname,jdbcType=VARCHAR},
      </if>
      <if test="supbrand != null" >
        supbrand = #{supbrand,jdbcType=VARCHAR},
      </if>
      <if test="supaddress != null" >
        supaddress = #{supaddress,jdbcType=VARCHAR},
      </if>
      <if test="supphone != null" >
        supphone = #{supphone,jdbcType=VARCHAR},
      </if>
      <if test="supemail != null" >
        supemail = #{supemail,jdbcType=VARCHAR},
      </if>
    </set>
    where supid = #{supid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Supplier" >
    update supplier
    set supname = #{supname,jdbcType=VARCHAR},
      supbrand = #{supbrand,jdbcType=VARCHAR},
      supaddress = #{supaddress,jdbcType=VARCHAR},
      supphone = #{supphone,jdbcType=VARCHAR},
      supemail = #{supemail,jdbcType=VARCHAR}
    where supid = #{supid,jdbcType=INTEGER}
  </update>
</mapper>