<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.LP.HandleMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Handle" >
    <id column="hanId" property="hanid" jdbcType="INTEGER" />
    <result column="hanCode" property="hancode" jdbcType="VARCHAR" />
    <result column="hanindex" property="hanindex" jdbcType="VARCHAR" />
    <result column="hanImg" property="hanimg" jdbcType="VARCHAR" />
    <result column="hanName" property="hanname" jdbcType="VARCHAR" />
    <result column="fhanId" property="fhanid" jdbcType="INTEGER" />
    <collection property="childrens" column="fhanId"
			select="queryAddess"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    hanId, hanCode,hanindex, hanImg, hanName, fhanId
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
		select * from handle
	</select>
	<select id="queryAddess" resultType="com.accp.pojo.Handle">
		select * from handle where 1=1
		<if test="fsiteid != 0">
			and hanId = #{fhanId}
		</if>
	</select>
</mapper>